* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul,ol {
    padding: 0;
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  color: #0A0A0A;
}

.container {
  max-width: 1240px!important;
  width: 100%!important;
  padding: 0 20px!important;
  margin: 0 auto!important;
}

.v-expansion-panel-content__wrap {
  width: 100%;
  display: flex!important;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  padding: 0 30px!important;

  @media(max-width: 550px) {
    padding: 0 0 20px 0!important;
  }
}